.page {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-block-size: 100vh;
}


.header {
    min-block-size: 100vh;
    padding: 10px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

.header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
    background-color: var(--decor-color);
    color: var(--bg-color);
    padding: 0 10px;
    font-weight: bold;
}

.header__theme-menu {
    justify-self: end;
}


.header__rec {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
}

.header__rec::after {
    content: '';
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    background-color: var(--accent-color);
    border-radius: 50%;
    margin-inline-start: 5px;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-start: 10px;
    border-inline-start: 1px solid var(--accent-color);
    border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-end: 10px;
    border-inline-end: 1px solid var(--accent-color);
    border-block-end: 1px solid var(--accent-color);
}

.content {
    display: grid;
    gap: 50px;
    padding: 40px 10px;
}

.content-section {
    display: grid;
    gap: 20px;
}

.content-section__articles {
    display: grid;
    gap: 20px;
}

.content-section__subtitle {
    font-size: 18px;
    line-height: 1.3;
}

.content-section__text {
    font-size: 18px;
    line-height: 1.3;
}


.content-section__list {
    display: grid;
    gap: 20px;
}

.content-section__item {
    display: grid;
    gap: 10px;
}

.content-section_full {
    gap: 30px;
}

.content-section__cards {
    display: grid;
    gap: 20px;
}

.content-card {
    display: grid;
    gap: 10px;
}

.content-card__title {
    font-size: 18px;
    line-height: 1.3;
}

.content-card__text {
    font-size: 18px;
    line-height: 1.3;
}

.content-card__text a {
    text-shadow: 2px 2px 0 var(--accent-color);
}

.content-card__text a:hover {
    text-decoration: underline;
}

.content-card__text a:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
}


.gallery {
    display: grid;
    gap: 20px;
    padding: 40px 10px;
}

.gallery__list {
    display: grid;
    gap: 10px;
}

.gallery__item img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.footer {
    min-block-size: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}


@media (width >= 768px) {

    .header {
        padding: 20px;
    }

    .header__title,
    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .content {
        padding: 60px 20px;
        gap: 80px;
    }

    .content-section__articles,
    .content-section__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (width >= 1024px) {

    .header,
    .footer {
        padding: 20px 40px;
    }

    .content-section__articles {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery__list {
        grid-template-columns: repeat(5, 1fr);
    }
}
