:root {
    --font-main: 'IBM Plex Mono', monospace;

    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;

    --title-color: #db00ff;
    --decor-color: #ff0070;

    --bg-image: url('../images/cover-image-dark.png');
}
